* {
	padding: 2px;
	font-family: Verdana, sens_serif;
}

textarea {
	padding: 5px;
	font-size: 16px;
	color: darkblue;
	font-weight: 600;
}

ul{
	list-style-type: none;
}
footer{
	margin-top: 20px;
}
.clearfix {
    overflow: auto;
}